@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #111827, #030712);
  color: white;
}
